// baseline typography
html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body {
    font-family: $sans-reg;
}
a {
  color:$a-link;
  &:hover {
    text-decoration: none;
  }
  p & {
    font-family:$sans-bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
ul, ol {
  &.no-list-style {
    list-style-type: none;
    padding-left:0px;
    li {
      margin:4px 0px;
      font-family: $sans-reg;
      color:$primary-font;
    }
  }
  &.two-col {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  }
  font-family: $sans-reg;
  li {
    font-size:1.6rem;
    &.person-label {
      color:$secondary-font;
    }
  }
}

p, span, div {
  font-family: $sans-reg;
  color:$primary-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-font;
    font-family:$sans-bold;
    // margin: 1.6rem 0rem 1rem 0rem;
}
