@{
    ViewData["Title"] = "CAES Help - Error";
}

<div class="text-center">
    <h3 class="display-4">Oops. Something went wrong. Please consider contacting our help department directly:</h3>
    <div><a href="mailto:@ViewBag.ProgrammingSupport">Programming Support @ViewBag.ProgrammingSupport</a></div>
    <div><a href="mailto:@ViewBag.WebSupport">Web Support @ViewBag.WebSupport</a></div>
    <div><a href="mailto:@ViewBag.ComputerSupport">Computer Support @ViewBag.ComputerSupport</a></div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/mainjcs.css">
}

