@{
    ViewData["Title"] = "CAES Help - Error";
}

<div class="text-center">
    <h3 class="display-4">Oops. Something went wrong. Please consider contacting our help department directly:</h3>
    <p><a href="mailto:@ViewBag.ProgrammingSupport">Programming Support @ViewBag.ProgrammingSupport</a></p>
    <p><a href="mailto:@ViewBag.WebSupport">Web Support @ViewBag.WebSupport</a></p>
    <p><a href="mailto:@ViewBag.ComputerSupport">Computer Support @ViewBag.ComputerSupport</a></p>
</div>
