@model TicketDefaultsModel


@{
    ViewData["Title"] = "CAES Help";
}
@Html.AntiForgeryToken()
<script>
    window.App = {};
    window.App.model = @Json.Serialize(Model);
    window.App.antiForgeryToken = document.getElementsByName('__RequestVerificationToken')[0].value;
</script>






<div id="react-app"></div>

@section Styles
{
    <style>
        .tooltip-inner {
            max-width: 550px;
            text-align: left;
        }
    </style>

}

@section Scripts
{
    <script type="text/javascript">
        $('body').tooltip({
            selector: '[data-toggle="tooltip"]'
        });
    </script>
}
