@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We lookup your information in the campus IAM service to email a support ticket on your behalf.</p>

<div> <a asp-action="Index" class="btn btn-primary">Back to the Help Page</a></div>
