@{
    ViewData["Title"] = "CAES Help - Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We lookup your information in the campus IAM service to email a support ticket on your behalf.</p>

<div class="text-center"> <a asp-action="Index" class="btn btn-primary">Back to the Help Page</a></div>

@* This css file is a copy of the one generated on prod  *@
@section Styles
{
    
    <link rel="stylesheet" href="~/css/mainjcs.css">
}
