@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-action="Index" asp-controller="Home" class="btn btn-group-lg btn-primary">Create Another Help Ticket</a></p>
    <small class="form-text">If you are not already logged into CAS, you will be prompted to do that before the Help Ticket form loads.</small>
</div>
