@model TicketDefaultsModel

@{
    ViewData["Title"] = "Submit Page";
}
<script>
    window.App = {};
    window.App.model = @Json.Serialize(Model);
</script>

<div class="text-center">
    <h1 class="display-4">Request Help</h1>
</div>



<div id="react-app"></div>

@section Styles
{
    <style>
        .tooltip-inner {
            max-width: 550px;
            text-align: left;
        }
    </style>
    <style>
        .validation-summary-errors {
            border:2px solid red;
            color:red;
            font-weight:bold;
            margin:6px;
            width:30%;
        }

        .field-validation-error{
            color:red;
            font-weight:bold;
            background-color:yellow;
        }

        .input-validation-error{
            color:red;
            font-weight:bold;
            background-color:pink;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript">
        $('body').tooltip({
            selector: '[data-toggle="tooltip"]'
        });
    </script>
}

