@{
    ViewBag.Title = "Success";
}
<div style="align-content: center">
<h2>Help ticket submitted. You should get a confirmation email within 5 or 10 minutes.</h2>
<a asp-action="Index" class="btn btn-info btn-lg">Submit Another Ticket</a>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/mainjcs.css">
}
